.about-me-text {
  font-family: 'Ubuntu';
  font-weight: 800;
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-align: center;
}
.why-text-sub {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0.8;
  text-transform: capitalize;
  text-align: center;
}
.aboutme-inside {
  width: 90%;
  margin-inline: auto;
}
.some-text-about-me {
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: justify;
}
.few-highlights {
  font-family: 'Ubuntu';
  padding-block: 12px;
}
.few-text {
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 1.5rem;
}
.few-list {
  font-family: 'Ubuntu';
  font-size: 1.3rem;
}

.counts {
  padding: 20px 0 20px;
  width: 98%;
}

.testmonials-card1 {
  border-radius: 50px 20px 50px 0px;
  width: 98%;
  height: 170px;
  margin-bottom: 40px;
  align-items: center;
  border: 2px solid #1f2235;
  background: #1f2235;
  transition: all 0.3s ease-in-out;
}
.testmonials-icons-card1 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-orange);
  font-size: 28px;
  border: 2px solid var(--dark-orange);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.description1 {
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu';
  font-weight: 800;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.7rem;
}
.testmonials-card1:hover {
  border: 2px solid var(--dark-orange);
}
.name1 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Ubuntu';
  color: #ffffff;
}
@media all and (max-width: 1024px) {
  .about-me-text {
    font-size: 2.5rem;
  }
  .why-text-sub {
    font-size: 1rem;
  }
  .about-me-img {
    margin-top: 50px !important;
    width: 350px;
    height: 350px;
  }
  .some-text-about-me {
    /* font-weight: 600; */
    font-size: 1rem;
    opacity: 0.8;
    text-align: justify;
  }
  .few-highlights {
    padding-block: 12px;
  }
  .few-list {
    font-size: 1rem;
  }
  .few-text {
    /* font-weight: 600; */
    font-size: 1.2rem;
  }
  .counts {
    padding: 0px 0 20px;
  }
}
@media all and (max-width: 321px) {
  .about-me-img {
    width: 310px;
    height: 310px;
  }
}
